<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="addUserForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="username"/>
    </div>
    <br>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"/>
    </div>
    <br>
    <div>
        <label for="roles">Roles:</label>
        <input type="text" id="roles" name="role"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"/>
    </div>
    <button type="button" id="submitButton">Update</button>
</form>
<script>
    $(document).ready(function() {
        $('#submitButton').click(function() {
            const userData = {
                name: $('#name').val(),
                surname: $('#surname').val(),
                role: $('#roles').val(),
                password: $('#password').val()
            };

            $.ajax({
                url: '/api/users/' ,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(userData),
                success: function(response) {
                    alert('User updated successfully:' + response);
                    window.location.href = '/admin';

                },
                error: function(jqXHR) {
                    alert('Error occurred while updating user: ' + jqXHR.responseText);
                }
            });
        });
    });
</script>
</body>
</html>