<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/admin/addUser}" method="post" >
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <br>
  <div>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" />
  </div>
  <br>
  <div>
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" />
  </div>
  <input type="submit" />
</form>
</body>
</html>