<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin panel</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
        white-space: wrap;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<body>
<h1>User list</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Surname</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="userTableBody">
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <div style="display: flex; gap: 10px; justify-content: center">
                <button type="button" th:onclick="'deleteUser(' + ${user.id} + ')'" th:text="'Delete'">Delete</button>
                <form th:action="@{/admin/updateUser/{id}(id=${user.id})}" method="get">
                    <button type="submit" name="update" th:text="'Update'">Update</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function deleteUser(userId) {
        $.ajax({
            url: '/api/users/' + userId,
            method: 'DELETE',
            success: function (response) {
                alert(response);

                updateUserList();
            },
            error: function (jqXHR) {
                alert('Error occurred while deleting user: ' + jqXHR.responseText);
            }
        });
    }

    function updateUserList() {
        $.ajax({
            url: '/api/users',
            method: 'GET',
            success: function (users) {
                console.log(users)
                var tableBody = '';
                users.forEach(function (user) {
                    tableBody += '<tr>' +
                        '<td>' + user.id + '</td>' +
                        '<td>' + user.name + '</td>' +
                        '<td>' + user.surname + '</td>' +
                        '<td>' + user.password + '</td>' +
                        '<td>' + user.role + '</td>' +
                        '<td>' +
                        '<div style="display: flex; gap: 10px; justify-content: center">' +
                        '<button type="button" onclick="deleteUser(' + user.id + ')">Delete</button>' +
                        '</div>' +
                        '</td>' +
                        '</tr>';
                });


                $('#userTableBody').html(tableBody);
            },
            error: function (jqXHR) {
                alert('Error fetching user list: ' + jqXHR.responseText);
            }
        });
    }
</script>

<form th:action="@{/admin/addUser}" method="get">
    <button type="submit" name="add" th:text="'Add User'">Add User</button>
</form>
</body>
</html>