<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="showTableButton">Показать список товаров</button>
<div id="tableContainer" style="display: none; overflow-x: auto; overflow-y: auto; max-width: 100%; height: 400px;">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Product name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${products}">
      <td th:text="${item.id}"></td>
      <td th:text="${item.name}"></td>
      <td th:text="${item.price}"></td>
      <td th:text="${item.quantity}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  document.getElementById('showTableButton').addEventListener('click', function() {
    var tableContainer = document.getElementById('tableContainer');
    if (tableContainer.style.display === 'none') {
      tableContainer.style.display = 'block';
    } else {
      tableContainer.style.display = 'none';
    }
  });
</script>
<form th:action="@{/store/addProduct}" method="get">
  <button type="submit" name="add" th:text="'Add product to base'">Add USer</button>
</form>
</body>
</html>